<div class="mt-1">
    <h3>Chỉnh Sửa tài khoản</h3>
    <form method="POST" action="/users/{{users._id}}?_method=PUT">
        <div class="mb-3">
        <label for="fullname" class="form-label">Họ Tên</label>
        <input type="text" class="form-control" value="{{users.fullname}}" id="fullname" name="fullname">
        </div>
        <div class="mb-3">
        <label for="username" class="form-label">Tên Đăng nhập</label>
        <input type="text" class="form-control" value="{{users.username}}" id="username" name="username">
        </div>
        <div class="mb-3">
        <label for="phonenumber" class="form-label">Số Điện Thoại</label>
        <input type="text" class="form-control" value="{{users.phonenumber}}" id="phonenumber" name="phonenumber">
        </div>
       
        <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" value="{{users.email}}" id="email" name="email">
        </div>
        <div class="mb-3">
        <label for="birthday" class="form-label">Ngày Tháng Năm sinh</label>
        <input type="date" class="form-control" value="{{users.birthday}}" id="birthday" name="birthday">
        </div>
        <div class="mb-3">
        <label for="password" class="form-label">Mật khẩu</label>
        <input type="text" class="form-control" value="{{users.password}}" id="password" name="password">
        </div>
        <div class="col-12">
        <button type="submit" class="btn btn-primary">Chỉnh Sửa tài khoản</button>
        </div>
    </form>
</div>