<div class="mt-4">
    <h3>khoa hoc cua toi</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên Khóa Học</th>
                <th scope="col">Trình Độ</th>
                <th scope="col">Thời gian đào tạo</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-primary">Sửa</a>
                    <a href="" class="btn btn-primary" data-bs-toggle="modal" data-id="{{this._id}}" data-bs-target="#exampleModal">Xóa</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- confirm delete courses --}}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có muốn xóa khóa học hiện tại
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button id="btn-delete-course" type="button" class="btn btn-danger"> Xóa </button>
      </div>
    </div>
  </div>
</div>
<form name="delete-course-form" method="POST"></form>
<script>
  document.addEventListener('DOMContentLoaded',function(){
    var courseid;
    var deleteForm=document.forms['delete-course-form']
    var exampleModal = document.getElementById('exampleModal')
    var btnDeleteCourse = document.getElementById('btn-delete-course')
    exampleModal.addEventListener('show.bs.modal', function (event) {
    var button = event.relatedTarget
    courseid = button.getAttribute('data-id')
    })
    btnDeleteCourse.onclick = function(){
      deleteForm.action= '/courses/' + courseid + '?_method=DELETE';
      deleteForm.submit();
    }

  })
    
</script>